
main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}


body {
  background-color: rgb(37, 37, 37);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.quote-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  background-color: rgb(110, 110, 110);
  height: 400px;
  width: 500;
  padding: 30px;
}

.actions {
  display: flex;
  flex-direction: column;
  align-items: ;
}

.quote, .author {
  color: #FFFF;
  font-size: 1.3em;
  display: flex;
  flex-wrap: wrap;
}

h1 {
  background-color: crimson;
  padding: 20px;
  border-radius: 50px;
}

.quote-container .quote {
  display: flex;
  flex-wrap: wrap;
}


